html {
    height: 100%;
}

body {
    background-color: #ffe0cc;
    height: 83%;
}

h1 {
    text-align: center;
    font-family: "Montserrat";
    font-weight: bolder;
}

button {
    font-family: "Montserrat";
}

h2 {
    font-family: "Montserrat";
}

input[type=text] {
    padding-left: 10px;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 10px;
    font-family: "Montserrat";
  }

#buttons {
    display: flex;
    justify-content: space-between;
    width: 310px;
    font-family: "Montserrat";
    margin: auto;
}

.optionSelected {
    text-decoration: underline;
    opacity: 1;
}

.form {
    padding-left: 10px;
}
#intro-wrapper #buttons button {
    margin: 4px 2px;
}

#intro-wrapper h2 {
    margin: auto;
    border: none;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    padding: auto;
}

#enterGame {
    width: 310px;
    border-radius: 10px;
    opacity: 1;
    border: none;
    background-color:#ffcc66;
}

#displayId {
    text-align: center;
    font-size: 22px;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px orange;
}

#intro-wrapper h2:hover {
    opacity: 1;
}

#create {
    text-align: center;
    line-height: 40px;
    width: 100%;
}

#join {
    text-align: center;
    line-height: 40px;
    width: 100%;
}

#intro-wrapper {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 320px;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    /* grid-template-rows: 50px auto; */
    box-shadow: 5px b;
}

#createOption {
    height: 50px;
    width: 150px;
}

#gameElements {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px;
    overflow-y: auto;
    /* min-height: 600px; */
    height: 100%;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

#joinOption {
    height: 50px;
    width: 150px;
}

.createForm {
    display: grid;
    grid-template-columns: 100%;
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-top: 10px;
}

.form {
    /* display: grid; */
    /* grid-template-columns: 100%; */
    height: 50px;
    width: 300px;
    font-size: 20px;
    margin: 5px auto;
    /* margin-left: auto; */
    line-height: 10px;
}

#title {
    width: 100%;
    margin: 0px;
    float: left;
}

#instructions {
    width: 100px;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    font-family: "Montserrat";
}

#lobby {
    display: flex;
    /* width: 50%; */
    flex-direction: column;
    height: auto;
    /* margin: 0px; */
    float: left;
    margin: 10px auto;
    font-family: "Montserrat";
    font-size: 16px;
}

.error {
    color: red;
    font-size: 12px;
}

#start {
    display: none;
    margin:  auto;
    background-color: lightgreen;
    opacity: 0.6;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

#start:hover {
    opacity: 1;
}

#leave {
    background-color: #ff8080;
    opacity: 0.6;
    border-radius: 5px;
    border: none;
    margin: auto auto 10px auto;
}

#leave:hover {
    opacity: 1;
}

#startButton {
    display: none;
}

#game {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#deck {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

#hand {
    width: 100%;
    height: 220px;
    border: 1px solid black;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
    width: 150px;
    height: 190px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
}

#leaveInGame {
    margin: 20px auto auto auto;
}

#chat {
    display: flex;
    flex-direction: column;
    font-family: Verdana;
    color: #333333;
    padding: 5px;
    /* margin: 10px; */
    width: 30%;
    position: relative;
    /* float: right; */
    border: 1px solid black;
    margin-right: 20px;
}

#chatBox {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position:relative;
    overflow-y:auto;
    word-wrap: normal;
    bottom:0;
    height: 85%;
}

#turnContainer {
    display: flex;
    padding: 10px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom:  10px;
}

#turn {
    margin-left: 10px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 100px;
}

#endTurn {
    height: 20px;
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    min-width: 100px;
}

#invalidCard {
    margin: auto;
}

#players {
    margin-left: auto;
    margin-right: auto;
}

#nope {
    display: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    height: 20px;
    width: 100px;
}

#play {
    display: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    height: 20px;
    min-width: 100px;
}

#cardsLeft {
    display: inline;
    margin: auto;
    padding: 10px;
}

.selected {
    border: 2px solid blue;
    box-shadow:0px 12px 22px 1px #333
 }

 #otherElements {
     display: flex;
     flex-direction: column;
     padding: 10px;
     width: 100%;
     height: auto;
 }

 #util {
     border: none;
 }

 #info {
     display: block;
     padding: 10px;
 }

 #futureCards {
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
 }

 #chatMsg {
     flex: 1;
 }

 #send {
     margin: auto 5px auto auto;
 }

 #sendMsg {
     display: flex;
 }

 .cardFuture {
     border: 1px solid black;
     border-radius: 10px;
 }

 img{
     -webkit-user-drag: none;
}