.createForm {
    display: none;
}

.joinForm {
    display: none;
}

.lobby {
    display: none;
}

.joinError {
    color: red;
    font-size: 10px;
}

#start {
    display: none;
}

#startButton {
    display: none;
}

.game {
    display: none;
}

#screen {
    width: 800px;
    height: 800px;
    border: 1px solid black;
}